body {
  font-size: 16px;
  line-height: 1.5;
  /* aqui você pode definir outros estilos */
  /* Define a imagem que será usada como fundo */
  background-image: url('instrumentador.jpg');

  /* Define como a imagem de fundo será exibida */
  background-repeat: no-repeat; /* Para evitar a repetição da imagem */
  background-size: cover; /* Para cobrir todo o espaço do elemento de fundo */

  /* Define a posição da imagem de fundo (opcional) */
  background-position: center center; /* Posiciona a imagem ao centro */
}

/* Estilos para telas menores */
@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  /* Aqui você pode ajustar outros estilos para dispositivos móveis */
}
body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      margin: 0;
      padding: 0;
    }

    /* Estilos para o título */
    h1 {
      text-align: center;
	  color:#FFF;
      font-size: 3rem;
      line-height: 1;
	  text-shadow: 1px 8px 10px rgba(0, 0, 0, 0.3);
    }
a {
	text-decoration: none;
	color: #000;
}
hr {
	color:#FFF;
}
		